<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
  <div class="max-w-2xl mx-auto p-6">
    <!-- Page Heading -->
    <div class="py-6">
      <a href="home.html" class="inline-flex items-center text-blue-500 hover:text-blue-700">
        <ion-icon name="chevron-back-outline" class="mr-2"></ion-icon>
        Back to Home
      </a>
      <h1 class="text-3xl font-bold mt-4">About tenX</h1>
    </div>

    <!-- About Content Container -->
    <div class="bg-white border border-slate-200 rounded-xl shadow-sm dark:border-slate-700 dark:bg-dark2 p-6">
      <div class="space-y-4 text-gray-700 dark:text-gray-600">
        <p>
          tenX is an attempt to create an open-source social media platform.
          You can find your unique key by clicking on the profile photo.
          Also, you can login via it by clicking on 'Login', to access your previous chats and activities.
        </p>
        <p>
          With a simple and secure login process, you can use a social key as your unique identifier—just copy, write
          down, or memorize your key.
          No usernames, no emails—just you. Umm, you’re smart enough to figure it out!
        </p>
        <p>
          tenX is anonymous, safe, and fast. It leverages one-way encryption to ensure your data is secure.
          If you come across any feed that violates community guidelines, use the "Report Feed" option, and it will be
          removed immediately.
        </p>
        <p>
          We respect your privacy. We won’t spam your inbox, nor do we want to get you divorced. 😊
        </p>
      </div>

      <!-- Links -->
      <div class="mt-6 flex space-x-4">
        <a href="https://github.com/ManishXS/BackEndSocial.git" target="_blank"
          class="flex items-center text-blue-500 hover:underline">
          <i class="fab fa-github mr-2"></i>
          Source Code
        </a>
        <a href="https://www.linkedin.com/in/manish-pardeshi-069417133/" target="_blank"
          class="flex items-center text-blue-500 hover:underline">
          <i class="fab fa-linkedin mr-2"></i>
          My LinkedIn Profile
        </a>
      </div>
    </div>
  </div>
</main>